body {
  margin: 0;
  font-family: sans-serif;
}
.value {
  font-size: 120px;
}
.label {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.field {
  display: inline-flex;
  flex-direction: column;
}
.timer {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 100px;
}
#timer-1 {
  font-size: 100px;
}
